<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="Random Movie Generator">
    <meta name="author" content="FroyTerrqiquez <froyterriquez@gmail.com>">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    

    
  </body>
</html>
